body {
  background-color: beige;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 40px;
}
#calcMem {
  text-align: right;
  font-size: large;
  border-width: 0px;
  width: 100%;
}
#calcField {
  background-color: beige;
  text-align: right;
  font-size: large;
  outline: 0;
  border-width: 0 0 2px;
  border-color: darkgrey;
  margin-bottom: 10px;
  width: 100%;
}
button {
  text-align: right;
  font-size: medium;
  border-radius: 5px;
  border-width: 1px;
  border-color: darkgrey;
  margin: 10px;
  padding: 10px;
}
.copy {
  /* mouse pointer */
  cursor: copy;
}
