body {
  background-color: beige;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
#calcTape,
#calcField {
  text-align: right;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border-width: 1px;
  border-color: darkgrey;
  margin-bottom: 10px;
  width: 100%;
}
#clearButton {
  text-align: right;
  font-size: medium;
  border-radius: 5px;
  border-width: 1px;
  border-color: darkgrey;
  padding: 10px;
}
#calcDiv {
  width: 100%;
}
